<h1>Your Maze
  <br />
  <small>Get from your desk <img src="/assets/desk.png" height="50px"> to the coffee maker!<img src="/assets/coffee.png" height="40px"></small>
</h1>
<%= link_to "Generate New Maze", grids_path, method: :post %>
<br />
<%= link_to "Show Solution", grid_path(@maze.id), method: :patch %>

<div class="grid-box">
  <% @maze.side_length.times do |y| %>
      <% @maze.side_length.times do |x| %>
        <% cell = @maze.cell_at(x, 9-y) %>
        <div class="maze-cell <%= cell.css_classes %>">
        </div>
      <% end %>
  <% end %>
</div>
