
<div class="grid-box">
  <% @maze.side_length.times do |y| %>
      <% @maze.side_length.times do |x| %>
        <% cell = @maze.cell_at(x, 9-y) %>
        <div class="maze-cell <%= cell.css_classes %>">
        </div>
      <% end %>
  <% end %>
</div>
