// Place all the styles related to the grids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Verdana, Geneva, sans-serif;
}

aside {
  background-color: rgb(50, 51, 51);
  padding-top: 20px;
  height: 1000px;
  position: fixed;
  overflow-y: auto;
  z-index: 1000;
}

.grid-box {
  height: 691px;
  width: 691px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 45px;
  margin-left: 10%;
}

div.maze-cell {
  width: 69px;
  height: 69px;
  margin: 0;
  padding: 0;
}

.grid-box div {
    border: 1px solid #ccc;
    border-width: 0px 0px 0px 0px;
    float: left;
}

.grid-box div.left {
  border-left-width: 1px;
}

.grid-box div.right {
  border-right-width: 1px;
}

.grid-box div.top {
  border-top-width: 1px;
}

.grid-box div.bottom {
  border-bottom-width: 1px;
}
.grid-box div.solution {
  background-color: rgb(108, 150, 96);
}

.start_cell:before {
  content: url(desk.png);

}
.end_cell:before {
  content: url(coffee.png);
}
ul li a {
  color: rgb(191, 191, 191);
}
ul li {
  color: rgb(191, 191, 191);
}
li.nav-text {
  color: rgb(142, 142, 142);
  padding: 20px;
  margin-bottom: 15px;
}
li.header-text {
  font-size: 25px;
  padding: 10px;
  padding-bottom: 30px;
}

@media screen and (max-width: 990px){
  aside.sidebar {
    height: 35%;
  }
  ul.nav {
    margin-bottom: 20px;
  }
}
